// .reset-password-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background-color: #f0f2f5;

//     .reset-password-form {
//       width: 100%;
//       max-width: 400px;
//       background-color: #fff;
//       padding: 24px;
//       border-radius: 8px;
//       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

//       .title {
//         text-align: center;
//         margin-bottom: 24px;
//       }

//       .ant-form-item {
//         margin-bottom: 16px;
//       }

//       .ant-form-item-label {
//         font-weight: bold;
//       }

//       .ant-input {
//         border-radius: 4px;
//         border: 2px solid #000000;
//         &:focus {
//           border-color: #40a9ff;
//           box-shadow: 0 0 0 2px rgba(64, 169, 255, 0.2);
//         }
//       }

//       .ant-btn-primary {
//         border-radius: 4px;
//         display: block;
//         margin: 0 auto;
//         width: 25%;
//       }

//       .ant-alert {
//         margin-bottom: 16px;
//       }
//     }
//   }
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;

  .reset-password-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .title {
      text-align: center;
      margin-bottom: 24px;
    }

    .ant-form-item {
      margin-bottom: 16px;
    }

    .ant-form-item-label {
      font-weight: bold;
    }

    .ant-input {
      border-radius: 4px;
      border: 2px solid #000000;
      &:focus {
        border-color: #40a9ff;
        box-shadow: 0 0 0 2px rgba(64, 169, 255, 0.2);
      }
    }

    .ant-btn-primary {
      border-radius: 4px;
      display: block;
      margin: 0 auto;
      width: 25%;
    }

    .ant-alert {
      margin-bottom: 16px;
    }
  }
}
