.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;

  .reset-password-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 24px;
    border: 1px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h1 {
      text-align: center;
      margin-bottom: 24px;
    }

    .ant-form-item {
      margin-bottom: 16px;
    }

    .ant-form-item-label {
      font-weight: bold;
    }

    .ant-input,
    .ant-input-password {
      border-radius: 4px;
      border: none !important;
      padding: 8px 12px;
      font-size: 14px;
      &:focus {
        border-color: #000000;
        box-shadow: 0 0 0 2px rgba(35, 151, 246, 0.2);
      }

      &::placeholder {
        color: #bfbfbf;
        opacity: 1;
      }
    }

    .ant-btn-primary {
      border-radius: 4px;
      display: block;
      margin: 0 auto;
      width: 31% !important;
    }
  }
}
